body {
  background: silver;  
  
}
.detail {
  display: flex;
}
h1 {
 
}
ul {
  font-size: 1.5em;
}
li a:hover {
  color: red;
}
#cat {
  width: 35%;
  /* vertical-align: auto; */
}
.photos {
  width: 35%;
}
