header {
  background-color: rgb(196, 218, 238);
}
header [src="img/taro.png"] {
  border: solid 2px white;
  border-radius: 50%;
}
header #head1 {
  display: flex;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-top: 10px;
}
header h1 {
  font-size: 24px;
  margin: 0;
}
header p {
  margin: 0 0 8px; 
}
#info ol {
  display: flex;
  list-style: none; 
  padding: 0;
}
#info ol li {
  margin-right: 10px;
}
#breadclums ol {
  display: flex;
  list-style: none;
}
#breadclums li {
  /* padding-left: 10px; */
}