

@media screen and (min-width : 1000px) {
  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.headMain {
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
}
.topicSlide {
  width: 400px;
  height: 300px;
  overflow: hidden;
}
.slideData {
  display: flex;
  animation: topicGo 6s linear 6;
}
.slideData img {
  height: 300px;
}
@keyframes topicGo {
  0% {transform:translateX(0px);}
  30% {transform:translateX(0px);}
  35% {transform:translateX(-400px);}
  65% {transform:translateX(-400px);}
  70% {transform:translateX(-800px);}
  100% {transform:translateX(-800px);}
}

.topicScale {
  width: 200px;
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.scaleOutData {
  position: absolute;

  transition: transform 1s ,opacity 1s;
}
.topicScale:hover .scaleOutData {

  transform: scale(2);
  opacity: 0;  
}
.scaleInData {
  position: absolute;
  visibility: hidden;  
  transform: scale(0.1);
  transition: transform 1s ,opacity 1s;
}
.topicScale:hover .scaleInData {
  visibility: visible;

  transform:  scale(1);
  
}
main {
  display: flex;
}

article {
  /* width: 700px; */
  flex: 1;

  background-color: rgb(233, 222, 228);
}
.article01 {
  display: block;
  /* width:700px; */
 
}
.article01 img {
  float: right;
}

aside {
  width: 300px;
  background-color: beige;
}
.sideul {
  list-style: none;
}
.sideul li a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
}

.sideul li a:hover {
  
  color: red;
  background-color: rgb(240, 238, 235);
}
 
.sideul li a:after {
  content:url(../img/circle_down_black_24dp.png);
  /* 黒→赤 */ filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  top:-5px;
}